:root {
  --body-font-family: 'Times New Roman', Times, serif !important;
  --heading-font-family: 'Times New Roman', Times, serif !important;;

  --color-primary: #007bff !important;    /* Change to your preferred primary color */
  --color-primary-dark: #0056b3; /* Change for a matching darker shade */
  --color-primary-light: #b3d7ff; /* Change for a matching lighter shade */
  --color-text: #333333;      /* Standard text color, change as needed */
  --color-background: #ffffff; /* Background color, change if desired */
  --color-border: #cccccc;    /* Border color, adjust to match the theme */
}

